{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - InnovateNow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="index">InnovateNow</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for Navbar in Navbars %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ Navbar.url }}">{{ Navbar.nombre }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

<br><br>


<main class="container my-5">
    <section id="services" class="feature">
        <h2 class="text-center">Nuestros Servicios</h2>
        <br><br>
        <div class="row">
            {% for servicio in Servicios %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{ servicio.nombre_servicio }}</h5>
                        <p class="card-text">{{ servicio.descripcion }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <br><br>
    <section id="companies" class="feature text-center">
        <h2>Empresas con las que colaboramos:</h2>
        <p class="lead">Conoce las empresas que forman parte de nuestra red.</p>
        <div class="row">
            {% for empresa in Empresas %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ empresa.nombre }}</h5>
                        <p class="card-text">{{ empresa.direccion }}</p>
                        <p class="card-text">{{ empresa.rut }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>


    <br><br><br>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contáctanos</h5>
                    <ul class="list-unstyled">
                        <li>Email: <a href="mailto:contacto@innovenow.com">contacto@innovenow.com</a></li>
                        <li>Teléfono: <a href="tel:+56912345678">+56912345678</a></li>
                        <li>Dirección: Calle Falsa 123, Santiago, Chile</li>
                    </ul>
                </div>
                <div class="col-md-6 text-end">
                    <p>&copy; 2024 InnovateNow. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
